<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container *ngFor="let columnName of columnToDispaly" [matColumnDef]="columnName">
        <th mat-header-cell *matHeaderCellDef>{{ columnName }}</th>
        <td mat-cell *matCellDef="let row">{{row.componentheader[columnName]}}
            <ng-container *ngIf="!isSummaryDetails">
                <ng-container *ngIf="columnName === 'action'">
                    <button mat-stroked-button color="primary"
                        (click)="onClickEdit('insert',row.componentheader)">Insert</button>
                    <button mat-stroked-button color="primary"
                        (click)="onClickEdit('edit',row.componentheader)">Edit</button>
                    <button mat-stroked-button color="primary"
                        (click)="onClickEdit('delete',row.componentheader)">Delete</button>
                </ng-container>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onClickExpand(element.componentheader); $event.stopPropagation()">
                <mat-icon *ngIf="element.componentheader['isExpand']">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="!element.componentheader['isExpand']">keyboard_arrow_up</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" *ngIf="!element.componentheader['isExpand']">
                <app-project-component-elements [componentElementDetails]="element.componentelement"
                    (onClickRowItem)="rowItemDetails($event)"
                    [isParentSummaryDetails]=isSummaryDetails></app-project-component-elements>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [class.hidden]="row.componentheader['isExpand']">
    </tr>
</table>