<section class="content ">
  <div class="content-block">
    <div class="block-header ">
      <h4>Project Labor</h4>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

          <div class="body">
            <div class="materialTableHeader p-3">


              <div class="row mt-4">

                <div class="col-md-4">

                  <mat-form-field appearance="outline">
                    <mat-label>Project List</mat-label>
                    <mat-select [disabled]="">
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>

                    <!-- <mat-error>Project
                              Name is required</mat-error> -->
                  </mat-form-field>

                </div>
                <div class="col-md-2">

                  <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <input matInput disabled="true" value="2015">
                  </mat-form-field>


                </div>
                <div class="col-md-2">

                  <mat-form-field appearance="outline" class="mat-datapicker-fill">
                    <mat-label>Effective Date</mat-label>
                    <input matInput [matDatepicker]="picker" required>

                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>


                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Addhar No</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>




                <div class="col-md-4">
                  <button mat-flat-button color="primary" class="mr-2">Add</button>
                  <button mat-flat-button color="primary" class="mr-2">Add and Approve</button>

                </div>
              </div>


            </div>

            <div class="responsive_table mt-3">
              <div class="materialTableHeader  w-100">
                <div class="p-2 d-flex justify-content-end">
                  <button mat-flat-button color="primary" (click)="getApprovedlist('500ms', '250ms')" class="mr-3">Approve</button>
                  <app-project-filter (projectFilter)="onProjectFilterData($event)"
                    (clearProjectFilter)="onClearProjectFilter()"></app-project-filter>
                </div>

              </div>
              <app-generic-table [title]="'Project Information'" [tableData]="getProjectListTableData"
                [actionButtons]="actionButtons" (actionButtonItem)="onGetActionItem($event)"
                [columnDisplayNames]="columnDisplay"></app-generic-table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>