.loader-position{ position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    width: 100%;
     background: #ffffff69;
    z-index: 11;
    height: 100%;
    mat-spinner{
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        transform: -webkit-translate(-50%, -50%);
        transform: -moz-translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
    }
}