<div class="viewer-wrapper">
    <!-- <div class="docs-example-viewer-title">
         <h2>Project Filter</h2>
    </div> -->
    Filter <button mat-icon-button color="primary" [matMenuTriggerFor]="filermenu" #clickMenuTrigger="matMenuTrigger">
        <app-feather-icons [icon]="'filter'" [class]="'tbl-fav-edit'"></app-feather-icons>
    </button>
    <mat-menu #filermenu="matMenu" [hasBackdrop]="true">

        <form [formGroup]="addProjectFilter" class="p-3" (ngSubmit)="onProjectFilter()"
            (click)="$event.stopPropagation()">

            <div class="conatiner row-container">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>FY</mat-label>
                            <mat-select formControlName="financialYear">
                                <mat-option disabled selected>--Select Financial Year --</mat-option>
                                <mat-option *ngFor="let item of masterDataService?.globalMasterData?.financialyear"
                                    [value]="item?.fyid">
                                    {{item.fydesc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Range</mat-label>
                            <mat-select formControlName="range">
                                <mat-option disabled selected>--Select Range --</mat-option>
                                <mat-option *ngFor="let item of masterDataService?.globalMasterData?.range"
                                    [value]="item?.rangeid">
                                    {{item.rangedesc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option disabled selected>--Select Status--</mat-option>
                                <mat-option *ngFor="let item of masterDataService?.globalMasterData?.status"
                                    [value]="item?.statusid">
                                    {{item.statusdesc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Project Name</mat-label>
                            <input matInput type="text" formControlName="projectName">
                        </mat-form-field>
                    </div>
                    <div class="col button-position-multiple">
                        <button type="submit" class="mr-2" mat-raised-button color="primary">Search</button>
                        <button type="button" mat-raised-button color="primary"
                            (click)="onClickClearFilter()">Reset</button>
                    </div>
                </div>

            </div>


        </form>

    </mat-menu>

</div>