

    <div class="container">
        <h3 mat-dialog-title>Confirm {{data.actionTitle}}</h3>
        <div mat-dialog-content>
            <p class="text-center">{{data.message}}</p>
           
        </div>
        <div mat-dialog-actions align="center" class="mb-1 text-center">
            <button type="button" mat-raised-button color="primary"
            (click)="onClickConfirm()">{{dialogAction[action] | capitalize}}</button>
            <button type="button" mat-raised-button color="warn" (click)="onClickCancel()">Cancel</button>
       
         
        </div>
      </div>