

<!-- <app-project-stats></app-project-stats> -->


<!-- <app-project-stats></app-project-stats> -->


    


<section class="content ">
    <div class="content-block">
      <div class="block-header ">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Ambulance List'" [items]="['Ambulance']" [active_item]="'List'">
        </app-breadcrumb> -->
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="materialTableHeader p-3">
              
              <mat-radio-group color="primary">
                <mat-radio-button value="1">Manual Project</mat-radio-button>
                <mat-radio-button value="2">State Project</mat-radio-button>
              </mat-radio-group>
              

              <form class="mt-3">
                
                    <div class="row">
                        <div class="col-md-4">
                            
                                <mat-form-field appearance="outline">
                                    <mat-label>Project Category</mat-label>
                                    <mat-select>
                                        <mat-option disabled selected>--Select --</mat-option>
                                        <mat-option >
                                        </mat-option>
                                    </mat-select>
                                    <mat-error></mat-error>
                                </mat-form-field>
                           
                        </div>
                        <div class="col-md-4">
                            
                            <mat-form-field appearance="outline">
                                <mat-label>Project Work</mat-label>
                                <mat-select>
                                    <mat-option disabled selected>--Select --</mat-option>
                                    <mat-option >
                                    </mat-option>
                                </mat-select>
                                <mat-error></mat-error>
                            </mat-form-field>
                       
                    </div>
                    <div class="col-md-4">
                      <button mat-stroked-button color="primary" class="mr-2">Create</button>
                      <button mat-stroked-button color="primary" class="mr-2">Darft</button>
                      <button mat-stroked-button color="warn">Submit</button>
                    </div>
                    </div>
               
              
              </form>
            </div>
            <div class="body">
            
              


              <div class="responsive_table">
                <ng-container>
                <!-- <ng-container *ngIf="showProjectCreation"> -->
                  <app-project-creation [projectCreationDetailsForTabs]="prjectCreationFormsDetails"
                      [editProjectHeaderDetails]="editProjectDetails"
                      (setSubmitProjectButton)="onChangeSubmitButton($event)"></app-project-creation>
              </ng-container>
           
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
