

<!-- <app-project-stats></app-project-stats> -->


<!-- <app-project-stats></app-project-stats> -->


    


<section class="content ">
    <div class="content-block">
      <div class="block-header ">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Ambulance List'" [items]="['Ambulance']" [active_item]="'List'">
        </app-breadcrumb> -->
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <mat-stepper linear #stepper>
                    <mat-step  label="Create Project" [stepControl]="addProjectCreation">
                        <form [formGroup]="addProjectCreation" class="pt-4" (ngSubmit)="onClickProjectCreation()">
                 
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Project Name</mat-label>
                                            <input matInput type="text" formControlName="projectName">
                                            <mat-error
                                                *ngIf="addProjectCreation.controls['projectName'].touched && addProjectCreation.controls['projectName'].hasError('required')">Project
                                                Name is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Tenure</mat-label>
                                            <input matInput type="number" formControlName="tenure" numbersOnly>
                                            <mat-error
                                                *ngIf="addProjectCreation.controls['tenure'].touched && addProjectCreation.controls['tenure'].hasError('required')">
                                                Tenure is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>FY</mat-label>
                                            <mat-select formControlName="financialYear">
                                                <mat-option disabled selected>--Select Financial Year --</mat-option>
                                                <mat-option *ngFor="let item of masterDataService?.globalMasterData?.financialyear"
                                                    [value]="item?.fyid">
                                                    {{item.fydesc}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="addProjectCreation.controls['financialYear'].touched && addProjectCreation.controls['financialYear'].hasError('required')">You
                                                must make a selection of financial year</mat-error>
                                        </mat-form-field>
                                    </div>
                
                                    <div class="col-md-6">
                                        <div class="button-position-single">
                                            <div  *ngIf="this.editProjectDetails?.projectdetails === null && !isEdit">
                                                <button type="submit"  mat-raised-button color="primary"
                                                    [disabled]="addProjectCreation.invalid" matStepperNext>Create
                                                    Project</button>
                                            </div>
                                            <div  *ngIf="this.editProjectDetails?.projectdetails !== null || isEdit">
                                                <button type="button" matStepperNext (click)="onClickFinalProjectSubmit()" mat-raised-button
                                                    color="primary">Submit
                                                    Project</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </form>

                    </mat-step>
                    <mat-step  label="Project Details">
                        <div class="pt-4">
                        
                <ng-container *ngIf="showProjectCreation">
                    <app-project-creation [projectCreationDetailsForTabs]="prjectCreationFormsDetails"
                        [editProjectHeaderDetails]="editProjectDetails"
                        (setSubmitProjectButton)="onChangeSubmitButton($event)"></app-project-creation>
                </ng-container>
            </div>
                    </mat-step>
                    </mat-stepper>
                <!-- <div class="materialTableHeader">
                    <div class="p-2">
                      
                    </div>
                    
                </div> -->
           
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
