<div class="viewer-wrapper table-responsive">
    <!-- <div class="docs-example-viewer-title">
        {{title}}
    </div> -->
    <table *ngIf="this.tableData?.length !==0" mat-table [dataSource]="dataSource" >
        <ng-container *ngFor="let columnName of columnNames" [matColumnDef]="columnName">
            <th mat-header-cell *matHeaderCellDef>{{ columnName |capitalize }}</th>
            <td mat-cell *matCellDef="let row">
                <app-generic-table-row [row]="row" [columnName]="columnName" [actionButtons]="actionButtons"
                    (actionButtonClick)="actionButtonClicked($event)"></app-generic-table-row>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>

    <mat-paginator *ngIf="this.tableData?.length !== 0" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
    </mat-paginator>

    <div *ngIf="this.tableData?.length === 0">
        <span class="error-font-color"> No Data available</span>
    </div>

</div>