<div class="viewer-wrapper">
    <div class="docs-example-viewer-title space-between">
        Attachment Details :
        <div>
            <button type="button" mat-raised-button color="primary">
                <input type="file" #fileInput (change)="onFileSelect(fileInput)" />
            </button>
        </div>
    </div>
    <mat-card>
        <div formGroup='addAttachmentDetails'>
            <div formArrayName="addAttachmentsRows">
                <div class="div_table">
                    <span>Date</span>
                    <span>File Name</span>
                    <span>Type</span>
                    <span>Added By</span>
                    <span>Actions</span>
                </div>
                <br>
                <div *ngFor="let item of formControl.controls; let i = index">
                    <div class="div_table">
                        <div>
                            <span>{{item.value.updatetime | date}}</span>
                        </div>
                        <div>
                            <span>{{item.value.documentname}}</span>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Document Type</mat-label>
                                <mat-select formControlName="documenttypecode">
                                    <mat-option disabled selected>--Select Document Type --</mat-option>
                                    <mat-option *ngFor="let item of masterDataService?.globalMasterData?.documenttype"
                                        [value]="item?.documenttypecode">
                                        {{item.documenttypedesc}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <span>{{item.value.uploadedby}}</span>
                        </div>
                        <div>
                            <button mat-stroked-button color="primary">Download</button>
                            <button mat-stroked-button color="primary">Cancel</button>
                            <button mat-stroked-button color="primary">Save</button>
                        </div>
                    </div>
                    <!-- <table>
                        <tr>
                            <th>Date</th>
                            <th>File Name</th>
                            <th>Type</th>
                            <th>Added By</th>
                            <th>Actios</th>
                        </tr>
                        <tr>
                            <td><span>{{item.value.updatetime | date}}</span></td>
                            <td><span>{{item.value.documentname}}</span></td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Document Type</mat-label>
                                    <mat-select formControlName="documenttypecode">
                                        <mat-option disabled selected>--Select Document Type --</mat-option>
                                        <mat-option
                                            *ngFor="let item of masterDataService?.globalMasterData?.documenttype"
                                            [value]="item?.documenttypecode">
                                            {{item.documenttypedesc}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <span>{{item.value.uploadedby}}</span>
                            </td>
                            <td>
                                <button mat-stroked-button color="primary">Insert</button>
                                <button mat-stroked-button color="primary">Edit</button>
                                <button mat-stroked-button color="primary">Delete</button>
                            </td>
                        </tr>
                    </table> -->
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div class="viewer-wrapper">
    <div class="docs-example-viewer-title">
        Approval Task :
    </div>
    <mat-card>
        <table mat-table class="mat-elevation-z8">
            <ng-container *ngFor="let columnName of columnToDispaly" [matColumnDef]="columnName">
                <th mat-header-cell *matHeaderCellDef>{{ columnName|capitalize }}</th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnToDispaly"></tr>
            <tr mat-row *matRowDef="let row; columns: columnToDispaly"></tr>
        </table>
    </mat-card>
</div>