<div class="viewer-wrapper mt-2">
    <div class="docs-example-viewer-title space-between">
       
        <h5 class="pl-2">  Attachment Details :</h5>
        <div>
            <button type="button" mat-raised-button color="primary">
                <input type="file" (change)="onFileSelect($event)" />
            </button>
        </div>
    </div>
    <mat-card>
        <div [formGroup]='addAttachmentDetails'>
            <div formArrayName="addAttachmentsRows">
                <div class="div_table">
                    <span>Date</span>
                    <span>File Name</span>
                    <span>Type</span>
                    <span>Added By</span>
                    <span>Actions</span>
                </div>
                <br>
                <div *ngFor="let item of formControl.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="div_table">
                            <div>
                                <span>{{item.value.updatetime | date}}</span>
                            </div>
                            <div>
                                <span>{{item.value.documentname}}</span>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Document Type</mat-label>
                                    <mat-select formControlName="documenttypecode">
                                        <mat-option disabled selected>--Select Document Type --</mat-option>
                                        <mat-option
                                            *ngFor="let element of masterDataService?.globalMasterData?.documenttype"
                                            [value]="element?.documenttypecode">
                                            {{element.documenttypedesc}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <span>{{item.value.uploadedby}}</span>
                            </div>
                            <div>
                                <button mat-stroked-button color="primary"
                                    (click)="onClickDownload(item.value)">Download</button>
                                <button mat-stroked-button color="primary"
                                    (click)="onClickCancel(item.value)">Cancel</button>
                                <button mat-stroked-button color="primary"
                                    (click)="onClickSave(item.value)">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div class="viewer-wrapper">
    <app-generic-table [title]="'Approval Task'" [tableData]="projectWorkflow" [actionButtons]="actionButtons"
        (actionButtonItem)="onGetActionItem($event)"></app-generic-table>
</div>