table {
    width: 100%;
}

.hidden {
    display: none;
}

tr.mat-row,
tr.mat-footer-row {
    height: 0px;
}

.div_table {
    display: flex;
    justify-content: space-between;
}
.position-relative{width: 100%;
    border: 2px dashed #a3b0b4;
    display: flex; flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    min-height: 120px;
    mat-icon{ font-size:34px; height: 34px; width: 34px;}
input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; opacity: 0;
}
}