
    <mat-accordion>
    <div *ngFor="let item of stateProjectComponentData?.project_year_data; let i=index">
      <app-state-project-component-details [year]="item.case"
      [componentDataDetails]="stateProjectComponentData.calculated_ht_data[item.case.toLowerCase()]"></app-state-project-component-details>
    </div>

      
      <mat-expansion-panel class="addeventbox mb-3 mt-3">
        <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*" class="pl-2 pr-2  addeventboxcursor">
            Poject Header
        </mat-expansion-panel-header>
        <app-state-project-creation #stateProjectCreation [projectDetailsForEdit]="stateProjectDetails">
        </app-state-project-creation>
        <!-- <mat-action-row>
         <button mat-button color="primary" (click)="nextStep()">Next</button> 
          </mat-action-row> -->
    </mat-expansion-panel>
    </mat-accordion>
