<div class="container-fluid">
    <mat-accordion>
        <mat-expansion-panel class="addeventbox mb-3 mt-3"  [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*" class="pl-2 pr-2  addeventboxcursor">
                Poject Header
            </mat-expansion-panel-header>
            <app-state-project-creation>
            </app-state-project-creation>
            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
        </mat-expansion-panel>
    


    <mat-expansion-panel class="addeventbox eventboxes" *ngFor="let item of stateProjectComponentData?.project_year_data; let i=index"  [expanded]="step ==i+1" (opened)="setStep(i+1)" hideToggle>
        <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*"  class="pl-2 pr-2 addeventboxcursor">
          <!-- <mat-panel-title>
            Financial Year: {{item.planyear}}
          </mat-panel-title>
          <mat-panel-description>
            Total Cost:1000
          </mat-panel-description> -->
  
          <button mat-stroked-button color="primary" class="mr-4" style="margin-right: 20px;">Add Element</button>
  
        </mat-expansion-panel-header>
        <div class="mt-2">
            <app-state-project-component-details [year]="item.case"
            [componentDataDetails]="stateProjectComponentData.calculated_ht_data[item.case.toLowerCase()]"></app-state-project-component-details>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

</div>