<div class="addContainer">

      <div class="modalHeader clearfix">
        <div class="modal-about">
            Project Component Creation - FY {{dialogData.planYearAmount.planyear}}
        </div>
      </div>
   

  <div mat-dialog-content>
<form  class="register-form" [formGroup]="addComponentInformation" (ngSubmit)="onClickProjectComponent()">
   
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-12">
                    <mat-checkbox  (change)="onChangeHeader($event.checked)"
                        formControlName="componentHeadreType">Is Header</mat-checkbox>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>SOR No</mat-label>
                        <input matInput type="text" formControlName="sorno">
                        <mat-error
                            *ngIf="addComponentInformation.controls['sorno'].touched && addComponentInformation.controls['sorno'].hasError('required')">
                            SOR No
                            is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Work Details</mat-label>
                    <textarea matInput type="text" formControlName="workdetail"> </textarea>
                    <mat-error
                        *ngIf="addComponentInformation.controls['workdetail'].touched && addComponentInformation.controls['workdetail'].hasError('required')">
                        Work Details
                        is required</mat-error>
                </mat-form-field>
                </div>
            </div>
            <ng-container *ngIf="!addComponentInformation.controls['componentHeadreType'].value">
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>UOM</mat-label>
                        <input matInput type="text" formControlName="uom">
                        <mat-error
                            *ngIf="addComponentInformation.controls['uom'].touched && addComponentInformation.controls['uom'].hasError('required')">
                            UOM
                            is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Quantity</mat-label>
                            <input matInput type="number" formControlName="quantity" (focusout)="calculateAmount()">
                            <mat-error
                                *ngIf="addComponentInformation.controls['quantity'].touched && addComponentInformation.controls['quantity'].hasError('required')">
                                Quantity
                                is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Rate</mat-label>
                            <input matInput type="number" formControlName="rate" (focusout)="calculateAmount()">
                            <mat-error
                                *ngIf="addComponentInformation.controls['rate'].touched && addComponentInformation.controls['rate'].hasError('required')">
                                Rate
                                is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Amount</mat-label>
                            <input matInput type="number" formControlName="amount">
                            <mat-error
                                *ngIf="addComponentInformation.controls['amount'].touched && addComponentInformation.controls['amount'].hasError('required')">
                                Amount
                                is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Geo Location</mat-label>
                            <input matInput type="text" formControlName="geolocation">
                            <mat-error
                                *ngIf="addComponentInformation.controls['geolocation'].touched && addComponentInformation.controls['geolocation'].hasError('required')">
                                Geo Location
                                is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Start Time</mat-label>
                            <input matInput type="text" formControlName="startdate">
                            <mat-error
                                *ngIf="addComponentInformation.controls['startdate'].touched && addComponentInformation.controls['startdate'].hasError('required')">Start
                                Time
                                is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>End Time</mat-label>
                            <input matInput type="text" formControlName="enddate">
                            <mat-error
                                *ngIf="addComponentInformation.controls['enddate'].touched && addComponentInformation.controls['enddate'].hasError('required')">End
                                Time
                                is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6">
                        <mat-checkbox  formControlName="materialRequired">Material
                            Required</mat-checkbox>
                    </div>
                </div>
            </ng-container>
            <div class="row mt-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row">
                      <button type="submit" mat-raised-button color="primary"
                        [disabled]="addComponentInformation.invalid">{{dialogData.actionType ===
                        actionTypes.edit?'Edit':'Create'}}
                        {{!addComponentInformation.controls['componentHeadreType'].value?'Element':'Header'}}
                        Component</button>
                    
                        <button type="button" mat-raised-button color="warn" (click)="onClickCancel()">Cancel</button>
                  </div>
                </div>
              </div>
           
        </div>
    
</form>
</div>
</div>