<div class="viewer-wrapper">
  <div class="docs-example-viewer-title">
    <h3 class="pl-2 pt-3 mb-2">{{projectDetails?.project_name}}</h3>

  </div>

  <div class="conatiner row-container">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td><b>Division :</b> {{projectDetails?.division}}</td>
        <td><b>SubDivision :</b> {{projectDetails?.subdivision}}</td>
        <td><b>Range :</b> {{projectDetails?.range}}</td>
      </tr>
      <tr>
        <td><b>Village :</b> {{projectDetails?.village}}</td>
        <td><b>Tahsil :</b> {{projectDetails?.tahsil}}</td>
        <td><b>Samittee :</b> {{projectDetails?.samitee}}</td>
      </tr>
      <tr>
        <td><b>Vidhansabha :</b> {{projectDetails?.vidhansabha}}</td>
        <td><b>Beat :</b> {{projectDetails?.beat}}</td>
        <td><b>Compartment No :</b> {{projectDetails?.compartment}}</td>
      </tr>
      <tr>
      <td><b>Site :</b> {{projectDetails?.site}}</td>
      <td ><b>Total Area :</b> {{projectDetails?.totalarea}}</td>
      <td ><b>APO Year :</b> {{projectDetails?.approval_year}}</td>
      
      </tr>
      <tr>
        <td ><b>Project Tenure :</b> {{projectDetails?.project_tenure}}</td>
        <td ><b>Project Area :</b> {{projectDetails?.project_area}}</td>
        <td><b>Site :</b> {{projectDetails?.site}}</td>
        </tr>
      <tr>
        <td><b>Total Area :</b> {{projectDetails?.totalarea}}</td>
        <td><b>APO Year :</b> {{projectDetails?.approval_year}}</td>
        <td><b>Project Tenure :</b> {{projectDetails?.project_tenure}}</td>
      </tr>
      <tr>
        <td><b>Project Area :</b> {{projectDetails?.project_area}}</td>
        <td><b>Scheme Name :</b> {{projectDetails?.scheme}}</td>
        <td><b>Execution Supervisor :</b> {{projectDetails?.execution_supervisor}}</td>
      </tr>
      <tr>
        <td><b>APO Year :</b> {{projectDetails?.approval_year}}</td>
        <td><b>Project Tenure :</b> {{projectDetails?.project_tenure}}</td>
        <td><b>Execution Post :</b> {{projectDetails?.execution_post}}</td>
      </tr>
    </tbody>
    </table>
 


   




  </div>

  <app-attachment-details [projectHeaderID]="projectDetails?.projectheadid"
    [projectWorkflow]="projectSummaryDetails?.projectworkflow"
    (actionItemClicked)="onClickedActionButton($event)"></app-attachment-details>
</div>