<div class="viewer-wrapper">
  <div class="docs-example-viewer-title">
    <!-- <h5 class="pl-2"> Project Details</h5> -->

  </div>

  <div class="conatiner row-container">
    <ul class="list-group list-group-flush flex-row row row-cols-5">
      <li class="list-group-item col border-0"><b>Project Name :</b> {{projectDetails?.project_name}}</li>
      <li class="list-group-item col border-0"><b>Division :</b> {{projectDetails?.division}}</li>
      <li class="list-group-item col border-0"><b>SubDivision :</b> {{projectDetails?.subdivision}}</li>
      <li class="list-group-item col border-0"><b>Range :</b> {{projectDetails?.range}}</li>
      <li class="list-group-item col border-0"><b>Village :</b> {{projectDetails?.village}}</li>
    </ul>
    <ul class="list-group list-group-flush flex-row row row-cols-5">
      <li class="list-group-item col border-0"><b>Tahsil :</b> {{projectDetails?.tahsil}}</li>
      <li class="list-group-item col border-0"><b>Samittee :</b> {{projectDetails?.samitee}}</li>
      <li class="list-group-item col border-0"><b>Vidhansabha :</b> {{projectDetails?.vidhansabha}}</li>
      <li class="list-group-item col border-0"><b>Beat :</b> {{projectDetails?.beat}}</li>
      <li class="list-group-item col border-0"><b>Compartment No :</b> {{projectDetails?.compartment}}</li>
    </ul>


    <ul class="list-group list-group-flush flex-row row row-cols-5">
      <li class="list-group-item col border-0"><b>Site :</b> {{projectDetails?.site}}</li>
      <li class="list-group-item col border-0"><b>Total Area :</b> {{projectDetails?.totalarea}}</li>
      <li class="list-group-item col border-0"><b>APO Year :</b> {{projectDetails?.approval_year}}</li>
      <li class="list-group-item col border-0"><b>Project Tenure :</b> {{projectDetails?.project_tenure}}</li>
      <li class="list-group-item col border-0"><b>Project Area :</b> {{projectDetails?.project_area}}</li>
    </ul>
    <ul class="list-group list-group-flush flex-row row row-cols-5">
      <li class="list-group-item col border-0"><b>Scheme Name :</b> {{projectDetails?.scheme}}</li>
      <li class="list-group-item col border-0"><b>Execution Supervisor :</b> {{projectDetails?.execution_supervisor}}
      </li>
      <li class="list-group-item col border-0"><b>APO Year :</b> {{projectDetails?.approval_year}}</li>
      <li class="list-group-item col border-0"><b>Project Tenure :</b> {{projectDetails?.project_tenure}}</li>
      <li class="list-group-item col border-0"><b>Execution Post :</b> {{projectDetails?.execution_post}}</li>
    </ul>




  </div>

  <app-attachment-details [projectHeaderID]="projectDetails?.projectheadid"
    [projectWorkflow]="projectSummaryDetails?.projectworkflow"
    (actionItemClicked)="onClickedActionButton($event)"></app-attachment-details>
</div>