// /* You can add global styles to this file, and also import other style files */

 //

// @import '~@angular/material/theming';

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // overflow-x: hidden;
    // overflow-y: hidden;
    font-size: 14px;
}

// .row-container {
//     margin-bottom: -15px !important
// }

.mat-form-field {
    font-size: 16px;
}

// .dialog-class .mat-dialog-container {
//     height: auto;
//     border-radius: 10px;
//     background: #fafafa;
// }

// .viewer-wrapper {
//     border-radius: 4px;
//     margin: 10px;
//     padding: 15px;
//     border: 1px solid rgba(0, 0, 0, .2);
//     margin-bottom: 30px;

//     .docs-example-viewer-title {
//         margin-bottom: 10px;
//     }
// }

// .button-position-single {
//     position: relative;
//     top: 10px;
// }

// .button-position-multiple {
//     position: relative;
//     top: -10px;
//     padding: 20px;
//     display: flex;
//     justify-content: space-between;
// }

.warning-snackbar {
    background: #E9F316;
}

.success-snackbar {
    background: hsl(103, 77%, 49%);
}

.error-snackbar {
    background: #F33116;
}
.mat-form-field-subscript-wrapper{ margin-top: .2em;}
.mat-form-field-wrapper {
  padding-bottom: 1.5em;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 5px !important;
}
// .dialog-viewer-title {
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
//     padding: 8px 0px 8px 0px;

//     .title {
//         font-size: x-large;
//     }
// }

// .error-font-color {
//     color: #F33116;
// }

// .space-between {
//     display: flex;
//     justify-content: space-between;
// }
.example-full-width{ width: 100%;}
.mat-toolbar{
    z-index: 11;
    position: fixed
  }
//   mat-drawer-container{ 
//     .mat-drawer-content{ padding-top: 64px;}
// .mat-drawer{ padding-top: 64px;}
// }
.mat-form-field{ width: 100%;}
.p-0{ 
    .mat-form-field-wrapper{ padding: 0 !important;}
}
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
.mat-cell, .mat-footer-cell {
    font-size: 13px;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper{ margin: 0 !important;}
 .col-xs-6,.col-sm-6,.col-md-6,.col-lg-6 {
    margin-bottom:0 ;
  }
  .mat-horizontal-stepper-header-container{
    width: 50%;
  }
  .table > :not(caption) > * > *{
    background-color: transparent; box-shadow: none;
  }
  tbody {
    .mat-row:nth-child(odd){
        background-color: #f4f4f4;
    }
  }
  .fix-layout{ position: fixed !important; left: 0; right: 0; bottom: 0; top: 64px; }
  .mat-column-action{width: 150px;}
