<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let columnName of columnToDispaly" [matColumnDef]="columnName">
        <th mat-header-cell *matHeaderCellDef>{{ columnName }}</th>
        <td mat-cell *matCellDef="let row">{{row[columnName]}}
            <ng-container *ngIf="columnName === 'actions'">
                <button mat-stroked-button *ngIf="row.isheader" color="primary">Insert</button>
                <button mat-stroked-button color="primary">Edit</button>
                <button mat-stroked-button color="primary">Delete</button>
            </ng-container>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnToDispaly"></tr>
    <tr mat-row *matRowDef="let row; columns: columnToDispaly"></tr>
</table>